.startup-projects-main {
  display: flex;
}

.startup-projects-main > * {
  flex: 1;
  margin-bottom: 30px;
}

.startup-project-image > img {
  max-width: 100%;
  height: auto;
}

.project-card-head {
  color: rgb(36, 41, 46);
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin: 0px;
}

.startup-project-text {
  display: flex;
  justify-content: space-between;
}

.project-card-description {
  color: rgb(88, 96, 105);
}
.subTitle {
  color: #868e96;
}


.burger-builder-div,
.nextu-div {
  display: inline-grid;
  cursor: pointer;
  margin-right: 20px; 
}

.container {
  position: relative;
  width: 338px;
  height: auto;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 185.78px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
 
  color: black;
  
}
@media (max-width: 768px) {
  .startup-project-image {
    display: none;
  }
  .project-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .startup-project-text {
    display: block;
    justify-content: space-between;
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
  }
}
